<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=”shortcut icon” href="/assets/img/favicon.ico">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
메인페이지 입니다.
<br>
<div th:if="${session.email}" style="color:blue;">로그인 중: <span th:text="${session.email}"></span></div>
<br>
<a href="/no_login">비 로그인 페이지 이동</a>
<br>
<a href="/admin">로그인하면 이동가능 (USER_ROLE 이상)</a>
<br>
<a href="/admin/test">ADMIN 권한만 이동 가능 (ADMIN 권한 이상)</a>
<br>
<a href="/login">로그인</a>
<br>
<a href="/logout">로그아웃</a>
</body>
</html>